<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{batch_data.b_name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
      />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
      />
    <link rel="stylesheet" href="/static/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer></script>
    <script src="/static/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
      />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer></script>
  <link rel="icon" href="/static/images/logo.png">

    
      
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }">
      <!-- Desktop sidebar -->
      <aside
        class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800
        md:block flex-shrink-0">
        <div class="py-4 text-gray-500 dark:text-gray-400">
          <a href="{% url 'teacher_profile' teacher.t_id %}"
            class="text-lg font-bold text-gray-800 dark:text-gray-200">
            <img class="w-12 h-12 rounded-full border-solid border-2" style="float:left;margin-left: 20px; margin-right: 10px;" src="{{teacher_photo}}"><span class="p-2" style="display:inline-block;">{{teacher.t_name}}</span>
          </a>
          <ul class="mt-6">
            <li class="relative px-6 py-3">
              <span
                class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg
                rounded-br-lg"
                aria-hidden="true"></span>
              <a
                class="inline-flex items-center w-full text-sm font-semibold
                text-gray-800 transition-colors duration-150 hover:text-gray-800
                dark:hover:text-gray-200 dark:text-gray-100"
                href="{% url 'teacher_dashboard' teacher.t_id %}">
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2
                    2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0
                    011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
                <span class="ml-4">Dashboard</span>
              </a>
            </li>
          </ul>
          <ul>
            <li class="relative px-6 py-3">
              <button
                class="inline-flex items-center justify-between w-full text-sm
                font-semibold transition-colors duration-150 hover:text-gray-800
                dark:hover:text-gray-200"
                @click="togglePagesMenu"
                aria-haspopup="true">
                <span class="inline-flex items-center">
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                      d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0
                      01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1
                      1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1
                      0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
                  </svg>
                  <span class="ml-4">Tests</span>
                </span>
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0
                    111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <template x-if="isPagesMenuOpen">
                <ul
                  x-transition:enter="transition-all ease-in-out duration-300"
                  x-transition:enter-start="opacity-25 max-h-0"
                  x-transition:enter-end="opacity-100 max-h-xl"
                  x-transition:leave="transition-all ease-in-out duration-300"
                  x-transition:leave-start="opacity-100 max-h-xl"
                  x-transition:leave-end="opacity-0 max-h-0"
                  class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium
                  text-gray-500 rounded-md shadow-inner bg-gray-50
                  dark:text-gray-400 dark:bg-gray-900"
                  aria-label="submenu">
                  {% for exam in exam_data %}
                  <li
                    class="px-2 py-1 transition-colors duration-150
                    hover:text-gray-800 dark:hover:text-gray-200">
                    <a class="w-full" href="{% url 'teacher_test' teacher.t_id batch_data.id exam.e_id %}">{{exam.e_name}}
                    </a>
                  </li>
                  {% endfor %}

                </ul>
              </template>
            </li>
          </ul>
          <div class="px-6 my-6">
          <a href="{% url 't_logout' teacher.t_id %}">
            <button
              class="flex items-center justify-between w-full px-4 py-2 text-sm
              font-medium leading-5 text-white transition-colors duration-150
              bg-purple-600 border border-transparent rounded-lg
              active:bg-purple-600 hover:bg-purple-700 focus:outline-none
              focus:shadow-outline-purple">
              Log out
              <i class="bi bi-box-arrow-in-right"></i>
            </button>
          </a>
          </div>
        </div>
      </aside>
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
      <div
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50
        sm:items-center sm:justify-center"></div>
      <aside
        class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto
        bg-white dark:bg-gray-800 md:hidden"
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0 transform -translate-x-20"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0 transform -translate-x-20"
        @click.away="closeSideMenu"
        @keydown.escape="closeSideMenu">
        <div class="py-4 text-gray-500 dark:text-gray-400">
          <a href="{% url 'teacher_profile' teacher.t_id %}"
          class="text-lg font-bold text-gray-800 dark:text-gray-200">
          <img class="w-12 h-12 rounded-full border-solid border-2" style="float:left;margin-left: 20px; margin-right: 10px;" src="{{teacher_photo}}"><span class="p-2" style="display:inline-block;">{{teacher.t_name}}</span>
        </a>
          <ul class="mt-6">
            <li class="relative px-6 py-3">
              <span
                class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg
                rounded-br-lg"
                aria-hidden="true"></span>
              <a
                class="inline-flex items-center w-full text-sm font-semibold
                text-gray-800 transition-colors duration-150 hover:text-gray-800
                dark:hover:text-gray-200 dark:text-gray-100"
                href="{% url 'teacher_dashboard' teacher.t_id %}">
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2
                    2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0
                    011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
                <span class="ml-4">Dashboard</span>
              </a>
            </li>
          </ul>
          <ul>
            <li class="relative px-6 py-3">
              <button
                class="inline-flex items-center justify-between w-full text-sm
                font-semibold transition-colors duration-150 hover:text-gray-800
                dark:hover:text-gray-200"
                @click="togglePagesMenu"
                aria-haspopup="true">
                <span class="inline-flex items-center">
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                      d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0
                      01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1
                      1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1
                      0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
                  </svg>
                  <span class="ml-4">Tests</span>
                </span>
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0
                    111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <template x-if="isPagesMenuOpen">
                <ul
                  x-transition:enter="transition-all ease-in-out duration-300"
                  x-transition:enter-start="opacity-25 max-h-0"
                  x-transition:enter-end="opacity-100 max-h-xl"
                  x-transition:leave="transition-all ease-in-out duration-300"
                  x-transition:leave-start="opacity-100 max-h-xl"
                  x-transition:leave-end="opacity-0 max-h-0"
                  class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium
                  text-gray-500 rounded-md shadow-inner bg-gray-50
                  dark:text-gray-400 dark:bg-gray-900"
                  aria-label="submenu">
                  {% for exam in exam_data %}
                  <li
                    class="px-2 py-1 transition-colors duration-150
                    hover:text-gray-800 dark:hover:text-gray-200">
                    <a class="w-full" href="{% url 'teacher_test' teacher.t_id batch_data.id exam.e_id %}">{{exam.e_name}}
                    </a>
                  </li>
                  {% endfor %}

                </ul>
              </template>
            </li>
          </ul>
          <div class="px-6 my-6">
            <a href="{% url 't_logout' teacher.t_id %}">
            <button
              class="flex items-center justify-between w-full px-4 py-2 text-sm
              font-medium leading-5 text-white transition-colors duration-150
              bg-purple-600 border border-transparent rounded-lg
              active:bg-purple-600 hover:bg-purple-700 focus:outline-none
              focus:shadow-outline-purple">
              Log out
              <i class="bi bi-box-arrow-in-right"></i>
            </button>
          </a>
            </button>
          </div>
        </div>
      </aside>
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div
            class="container flex items-center justify-between h-full px-6
            mx-auto text-purple-600 dark:text-purple-300">
            <!-- Mobile hamburger -->
            <button
              class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none
              focus:shadow-outline-purple"
              @click="toggleSideMenu"
              aria-label="Menu">
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0
                  011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0
                  110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <!-- Search input -->
            <div class="flex justify-center flex-1 lg:mr-32">
              <a class="ml-6 text-2xl font-bold text-gray-800 dark:text-gray-200" href="#">Shree Matri Classes</a>
            </div>
              <!-- Theme toggler -->
              <li class="flex">
                <button
                  class="rounded-md focus:outline-none
                  focus:shadow-outline-purple"
                  @click="toggleTheme"
                  aria-label="Toggle color mode">
                  <template x-if="!dark">
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20">
                      <path
                        d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0
                        1010.586 10.586z"></path>
                    </svg>
                  </template>
                  <template x-if="dark">
                    <svg
                      class="w-6 h-6"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20">
                      <path
                        fill-rule="evenodd"
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4
                        4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0
                        001.414-1.414l-.707-.707a1 1 0 00-1.414
                        1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0
                        11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0
                        100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2
                        0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465
                        5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414
                        8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0
                        011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </template>
                </button>
              </li>
              
            </ul>
          </div>
        </header>
        <main class="h-full overflow-y-auto">
          <div class="px-6 mx-auto grid">
            <h2
              class="mt-6 text-5xl font-semibold text-purple-600
              dark:text-purple-600">
              {{batch_data.b_name}}
            </h2>
            <p class="mb-6 text-xl dark:text-gray-200">&nbsp; Id: {{batch_data.id}}</p>
            
            <!-- Cards -->
            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs
                dark:bg-gray-800">
                <div
                  class="p-3 mr-4 text-purple-600 bg-purple-200 rounded-full
                  dark:text-purple-600 dark:bg-purple-200">
                  <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0
                      014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0
                      014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0
                      0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3
                      0 013.75-2.906z"></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600
                    dark:text-gray-400">
                    Total Students
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700
                    dark:text-gray-200">
                    {{total_students}}
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs
                dark:bg-gray-800">
                <div
                  class="p-3 mr-4 text-purple-600 bg-transparent rounded-full
                  dark:text-purple-100 dark:bg-transparent">
                  <svg
                  class="w-8 h-8"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0
                    00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2
                    2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600
                    dark:text-gray-400">
                    Total Tests
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700
                    dark:text-gray-200">
                    {{total_test}}
                  </p>
                </div>
              </div>
              <!-- Card -->
            </div>
            
            <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
              <h2 class="mb-6 text-2xl font-semibold text-purple-600 dark:text-purple-600">
              Create Test
            </h2>
            {% if error == 1 %}
            <div class="bg-red-700 dark:bg-red-700 rounded-lg py-2 px-3 mb-4
              text-base text-white mb-3" role="alert">
              Invalid Date!
            </div>
      <form method="POST" class="p-5">

              {% csrf_token %}    
              <label class="block text-sm">
                <span class="text-xl text-gray-700 dark:text-gray-400">Test Name</span>
          <input required 
          value = "{{e_name}}"
          class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"  
          id="test_name"
            name="test_name"
            required
            placeholder=""/>
              </label><br>
              <label class="block text-sm">
                <span class="text-xl text-gray-700 dark:text-gray-400">Total questions</span>
          <input required 
          value = "{{e_q_num}}"
          class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
              id="tot_que"
            name="tot_que"
            type="number"
            required
            placeholder=""/></label><br>
          
            <label class="block text-sm">
            <span class="text-xl text-gray-700 dark:text-gray-400">Marks per question</span>
          <input required 
          value = "{{e_marks}}"
          class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
          id="tot_marks"
            name="tot_marks"
            type="number"
            required
            placeholder=""/></label><br>
            <label class="block text-sm">
              <span class="text-xl text-gray-700 dark:text-gray-400">Test starting date & time</span>
            <br>          
              <input required type="date"
              value = "{{st_date}}"
              class="block mb-3 w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
              placeholder="Select a date" id="st_date" name="st_date" /> 
                         
              <input required type="time"
              value = "{{st_time}}" onchange="onTimeChange()" 
              class="block w-full mt-1 text-xl dark:border-gray-600
              dark:bg-gray-700 focus:border-purple-400 focus:outline-none
              focus:shadow-outline-purple dark:text-gray-300
              dark:focus:shadow-outline-gray form-input"
                placeholder="Select a time" id="st_time" name="st_time"/> 
                
                <script>
                  var inputEle = document.getElementById('st_time');
                  function onTimeChange() {
                    var timeSplit = inputEle.value.split(':'),
                      hours,
                      minutes,
                      meridian;
                    hours = timeSplit[0];
                    minutes = timeSplit[1];
                    if (hours > 12) {
                      meridian = 'PM';
                      hours -= 12;
                    } else if (hours < 12) {
                      meridian = 'AM';
                      if (hours == 0) {
                        hours = 12;
                      }
                    } else {
                      meridian = 'PM';
                    }
                    var formattedTime = hours + ':' + minutes + ' ' + meridian;
                    inputEle.setAttribute('type', 'text');
                    inputEle.value = formattedTime;                  
                  }
                </script>
              </label><br>
            <label class="block text-sm">
              <span class="text-xl text-gray-700 dark:text-gray-400">Test ending date & time</span>
            <br>
            <span class="datepicker relative mb-3 xl:w-96" data-mdb-toggle-button="false">
              <input required type="date"
              value = "{{end_date}}"
              class="block mb-3 w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
              placeholder="Select a date" id="end_date" name="end_date" />
              <input required type="time" onchange="onTimeChangeEnd()" 
                value = "{{end_time}}"
                class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
                placeholder="Select a time" id="end_time" name="end_time"/> 
                <script>
                  var inputend = document.getElementById('end_time');
                  function onTimeChangeEnd() {
                    var timeSplit = inputend.value.split(':'),
                      hours,
                      minutes,
                      meridian;
                    hours = timeSplit[0];
                    minutes = timeSplit[1];
                    if (hours > 12) {
                      meridian = 'PM';
                      hours -= 12;
                    } else if (hours < 12) {
                      meridian = 'AM';
                      if (hours == 0) {
                        hours = 12;
                      }
                    } else {
                      meridian = 'PM';
                    }
                    var formattedTime = hours + ':' + minutes + ' ' + meridian;
                    inputend.setAttribute('type', 'text');
                    inputend.value = formattedTime;                  
                  }
                </script>
             </label><br>
            <button
            class="w-full px-4 py-2 text-xl 
            font-medium text-white transition-colors duration-150
            bg-purple-600 border border-transparent rounded-lg
            active:bg-purple-600 hover:bg-purple-700 focus:outline-none
            focus:shadow-outline-purple text-center">
            Create a Test
          </button>  
          
      </form>
            {% else %}
      <form method="POST" class="p-5">

              {% csrf_token %}    
              <label class="block text-sm">
                <span class="text-xl text-gray-700 dark:text-gray-400">Test Name</span>
          <input required 
          class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"  
          id="test_name"
            name="test_name"
            required
            placeholder=""/>
              </label><br>
              <label class="block text-sm">
                <span class="text-xl text-gray-700 dark:text-gray-400">Total questions</span>
          <input required 
          class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
              id="tot_que"
            name="tot_que"
            type="number"
            required
            placeholder=""/></label><br>
          
            <label class="block text-sm">
            <span class="text-xl text-gray-700 dark:text-gray-400">Marks per question</span>
          <input required 
          class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
          id="tot_marks"
            name="tot_marks"
            type="number"
            required
            placeholder=""/></label><br>
            <label class="block text-sm">
              <span class="text-xl text-gray-700 dark:text-gray-400">Test starting date & time</span>
            </label>           
              <input required type="date"
              class="block mb-3 w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input" id="st_date" name="st_date"/>  
                                                                
                <input required
                  type="time" onchange="onTimeChange()" 
                  class="block w-full mt-1 text-xl dark:border-gray-600
                  dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                  focus:shadow-outline-purple dark:text-gray-300
                  dark:focus:shadow-outline-gray form-input"                  
                  placeholder="Select a time"
                  id="st_time" name="st_time"
                   />
              <script>
                var inputEle = document.getElementById('st_time');
                function onTimeChange() {
                  var timeSplit = inputEle.value.split(':'),
                    hours,
                    minutes,
                    meridian;
                  hours = timeSplit[0];
                  minutes = timeSplit[1];
                  if (hours > 12) {
                    meridian = 'PM';
                    hours -= 12;
                  } else if (hours < 12) {
                    meridian = 'AM';
                    if (hours == 0) {
                      hours = 12;
                    }
                  } else {
                    meridian = 'PM';
                  }
                  var formattedTime = hours + ':' + minutes + ' ' + meridian;
                  inputEle.setAttribute('type', 'text');
                  inputEle.value = formattedTime;                  
                }
              </script>
            </label><br>
            <label class="block text-sm">
              <span class="text-xl text-gray-700 dark:text-gray-400">Test ending date & time</span>
            </label>            
            
              <input required type="date"
              class="block mb-3 w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
              placeholder="Select a date" id="end_date" name="end_date"/>              
              
                <input required
                  type="time" onchange="onTimeChangeEnd()" 
                  class="block w-full mt-1 text-xl dark:border-gray-600
                  dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                  focus:shadow-outline-purple dark:text-gray-300
                  dark:focus:shadow-outline-gray form-input"                 
                  placeholder="Select a time"
                  id="end_time" name="end_time"
                   />
                   <script>
                    var inputend = document.getElementById('end_time');
                    function onTimeChangeEnd() {
                      var timeSplit = inputend.value.split(':'),
                        hours,
                        minutes,
                        meridian;
                      hours = timeSplit[0];
                      minutes = timeSplit[1];
                      if (hours > 12) {
                        meridian = 'PM';
                        hours -= 12;
                      } else if (hours < 12) {
                        meridian = 'AM';
                        if (hours == 0) {
                          hours = 12;
                        }
                      } else {
                        meridian = 'PM';
                      }
                      var formattedTime = hours + ':' + minutes + ' ' + meridian;
                      inputend.setAttribute('type', 'text');
                      inputend.value = formattedTime;                  
                    }
                  </script>
            </label><br>
            <button
            class="w-full px-4 py-2 text-xl 
            font-medium text-white transition-colors duration-150
            bg-purple-600 border border-transparent rounded-lg
            active:bg-purple-600 hover:bg-purple-700 focus:outline-none
            focus:shadow-outline-purple text-center">
            Create a Test
          </button>  
          
      </form>
      {% endif %}
            
        </div>
          <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h2 class="mb-6 text-2xl font-semibold text-purple-600 dark:text-purple-600">
              Send Message
            </h2>
            <form method="POST" class="p-5">
              {% csrf_token %}

              <label class="block text-sm">
                <span class="text-xl text-gray-700 dark:text-gray-400">Message:</span>
              <textarea rows='5' 
              class="block w-full mt-1 text-xl dark:border-gray-600
                    dark:bg-gray-700 focus:border-purple-400 focus:outline-none
                    focus:shadow-outline-purple dark:text-gray-300
                    dark:focus:shadow-outline-gray form-input"
              id="message"
              name="message"
              required
              placeholder="Hello students..."></textarea></label>
            <br>
              <button
              class="w-full px-4 py-2 text-xl 
              font-medium text-white transition-colors duration-150
              bg-purple-600 border border-transparent rounded-lg
              active:bg-purple-600 hover:bg-purple-700 focus:outline-none
              focus:shadow-outline-purple text-center">
              Send
            </button>
          
            </div>
          </form>
          </div>
          </div>
            <!-- New Table -->
            <br>
            <div class="w-full rounded-lg px-6 overflow-hidden shadow-xs">
              <div class="w-full rounded-lg overflow-x-auto">
                <table class="w-full rounded-lg whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left
                      text-gray-500 uppercase border-b dark:border-gray-700
                      bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                      <th class="px-4 py-3 text-lg"><h2 class="text-2xl font-semibold text-purple-500 dark:text-purple-500">
                        students
                      </h2></th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700
                    dark:bg-gray-800">
                    {% for student in student_info_data %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->
                          <div
                            class="relative w-8 h-8 mr-3 rounded-full
                            md:block">
                            <img
                              class="object-cover w-full h-full rounded-full"
                              src="{{student.pic}}"
                              alt=""
                              loading="lazy"
                              />
                            <div
                              class="absolute inset-0 rounded-full shadow-inner"
                              aria-hidden="true"></div>
                          </div>
                          <div>
                            <p class="font-semibold">{{ student.name }}</p>

                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div><br><br>
             
            </div>

            
          </div>
        </main>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

  </body>
</html>