<footer class="mt-40 text-gray-600 body-font" style="user-select: none">
    <div class="container px-5 py-4 pt-5 mx-auto flex items-center sm:flex-row flex-col flex flex-col justify-center items-center">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-600 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-0 sm:mt-0 mt-4">©2023 Shree Matri Classes</p>
    </div>
    <!-- <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-0 sm:mt-0 mt-4 flex flex-col justify-center items-center">Designed By :- </p> -->
    <!-- <span class="flex flex-col items-center">     -->
    <!-- <span class="text-xl text-gray-900 py-1">Divyam Shah<span class="text-xl text-gray-900 sm:ml-2 sm:pl-2 sm:border-l-2 sm:border-gray-500 sm:py-1 sm:mt-0 mt-4">Kundan Makhwana<span class="text-xl text-gray-900 sm:ml-2 sm:pl-2 sm:border-l-2 sm:border-gray-500 sm:py-1 sm:mt-0 mt-4">Rahul Shrimali</span> -->

  </footer>
</body>
</html>