<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
      />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
      />
    <link rel="stylesheet" href="/static/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer></script>
    <script src="/static/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
      />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer></script>

      <style>
        #videoElement {
          margin-top: 3%;
          border: 2px solid white;
          width: auto;
          height: 275px;
          background-color: transparent;
        }
        </style>
  <link rel="icon" href="/static/images/logo.png">

  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }">
      <!-- Desktop sidebar -->
      <aside
        class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800
        md:block flex-shrink-0">
        <div class="py-4 text-gray-500 dark:text-gray-400">

          <a href="{% url 'student_profile' student.s_id %}"
            class="text-lg font-bold text-gray-800 dark:text-gray-200">
            <img class="w-12 h-12 rounded-full border-solid border-2" style="float:left;margin-left: 20px; margin-right: 10px;" src="{{student_photo}}"><span class="p-2" style="display:inline-block;">{{student.s_name}}</span>
          </a>

          <ul class="mt-6">
            <li class="relative px-6 py-3">
              <span
                class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg
                rounded-br-lg"
                aria-hidden="true"></span>
              <a
                class="inline-flex items-center w-full text-sm font-semibold
                text-gray-800 transition-colors duration-150 hover:text-gray-800
                dark:hover:text-gray-200 dark:text-gray-100"
                href="{% url 'student_dashboard' student.s_id %}">
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2
                    2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0
                    011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
                <span class="ml-4">Dashboard</span>
              </a>
            </li>
          </ul>
          <div class="px-6 my-6">
              <a href="{% url 's_logout' student.s_id %}">
            <button
              class="flex items-center justify-between w-full px-4 py-2 text-sm
              font-medium leading-5 text-white transition-colors duration-150
              bg-purple-600 border border-transparent rounded-lg
              active:bg-purple-600 hover:bg-purple-800 focus:outline-none
              focus:shadow-outline-purple">
              Log out
              <i class="bi bi-box-arrow-in-right"></i>
            </button></a>
          </div>
        </div>
      </aside>
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
      <div
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50
        sm:items-center sm:justify-center"></div>
      <aside
        class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto
        bg-white dark:bg-gray-800 md:hidden"
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0 transform -translate-x-20"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0 transform -translate-x-20"
        @click.away="closeSideMenu"
        @keydown.escape="closeSideMenu">
        <div class="py-4 text-gray-500 dark:text-gray-400">
          <a href="{% url 'student_profile' student.s_id %}"
            class="text-lg font-bold text-gray-800 dark:text-gray-200">
            <img class="w-12 h-12 rounded-full border-solid border-2" style="float:left;margin-left: 20px; margin-right: 10px;" src="{{student_photo}}"><span class="p-2" style="display:inline-block;">{{student.s_name}}</span>
          </a>
          <ul class="mt-6">
            <li class="relative px-6 py-3">
              <span
                class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg
                rounded-br-lg"
                aria-hidden="true"></span>
              <a
                class="inline-flex items-center w-full text-sm font-semibold
                text-gray-800 transition-colors duration-150 hover:text-gray-800
                dark:hover:text-gray-200 dark:text-gray-100"
                href="{% url 'student_dashboard' student.s_id %}">
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2
                    2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0
                    011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                </svg>
                <span class="ml-4">Dashboard</span>
              </a>
            </li>
          </ul>
        
            <div class="px-6 my-6">
              <a href="{% url 's_logout' student.s_id %}">
              <button
                class="flex items-center justify-between w-full px-4 py-2
                text-sm
                font-medium leading-5 text-white transition-colors duration-150
                bg-purple-600 border border-transparent rounded-lg
                active:bg-purple-600 hover:bg-purple-800 focus:outline-none
                focus:shadow-outline-purple">
                Log out
                <i class="bi bi-box-arrow-in-right"></i>
              </button></a>
            </button>
          </div>
        </div>
      </aside>
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div
            class="container flex items-center justify-between h-full px-6
            mx-auto text-purple-600 dark:text-purple-300">
            <!-- Mobile hamburger -->
            <button
              class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none
              focus:shadow-outline-purple"
              @click="toggleSideMenu"
              aria-label="Menu">
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0
                  011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0
                  110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <!-- Search input -->
            <div class="flex justify-center flex-1 lg:mr-32">
              <a class="ml-6 text-2xl font-bold text-gray-800
                dark:text-gray-200" href="#">Shree Matri Classes</a>
            </div>
            <!-- Theme toggler -->
            <li class="flex">
              <button
                class="rounded-md focus:outline-none
                focus:shadow-outline-purple"
                @click="toggleTheme"
                aria-label="Toggle color mode">
                <template x-if="!dark">
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20">
                    <path
                      d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0
                      1010.586 10.586z"></path>
                  </svg>
                </template>
                <template x-if="dark">
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4
                      4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0
                      001.414-1.414l-.707-.707a1 1 0 00-1.414
                      1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0
                      11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0
                      100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2
                      0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465
                      5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414
                      8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0
                      011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                      clip-rule="evenodd"></path>
                  </svg>
                </template>
              </button>
            </li>

            <!-- Profile menu -->
            
          </ul>
        </div>
      </header>
      <main class="h-full overflow-y-auto">
        <div class="px-6 mx-auto grid">
          {% if test_not_started == 1 %}
          <br><div class="bg-red-600 rounded-lg flex justify-center flex-col py-5 px-6 mb-4 text-white mb-3 text-2xl w-[98%]">
            Test will start on :
            <div class="text-lg flex"><u>
              {{test_data.date}} at {{test_data.time}}</u>
            </div>
          </div>   
          
          {% elif test_ended == 1 %}
          <h1 class="dark:text-white font-medium font-serif leading-tight text-5xl mt-0 mb-2 text-purple-600 flex justify-center py-3">Test has ended!</h1>    
          
          {% if question_are_there == 0 %}
          <h1 class="dark:text-white font-medium font-serif leading-tight text-5xl mt-0 mb-2 text-purple-600 flex justify-center py-3">Test is not published yet!</h1>
          {% elif test_already_given == 1 %}
          
            <br><div class="dark:bg-gray-800 bg-blue-100 rounded-lg py-5 px-6 mb-4 text-base text-xl text-purple-600 mb-3" role="alert">
            You scored <span class="text-2xl"><b>{{mark_info.marks_obt}}</b></span> out of {{mark_info.total_marks}} --> <span class="text-2xl"><b>{{mark_info.perct}}%
          </div>
          {% for question in question_info %}
      <h1 
      class="form-label
                  font-serif inline-block mb-2 text-2xl text-purple-600 text-xl
                  text-purple-600 dark:text-purple-600">
            {{ forloop.counter }}) {{question.q_text}}</h1>  
      <div class="flex flex-row">
      <h1 class="form-label
      font-serif inline-block mb-2 text-xl text-white-900 text-xl
      text-white-900 dark:text-white">
      Option A :- {{question.op_a}}
      </h1>
      </div>
      <div class="flex flex-row">
      <h1 class="form-label
      font-serif inline-block mb-2 text-xl text-white-900 text-xl
      text-white-900 dark:text-white">
      Option B :- {{question.op_b}}
      </h1>
      </div>
      <div class="flex flex-row">
            <h1 class="form-label
            font-serif inline-block mb-2 text-xl text-white-900 text-xl
            text-white-900 dark:text-white">
            Option C :- {{question.op_c}}
            </h1>
      </div>
      <div class="flex flex-row">
            <h1 class="form-label
            font-serif inline-block mb-2 text-xl text-white-900 text-xl
            text-white-900 dark:text-white">
            Option D :- {{question.op_d}}
                  </h1>
            </div>
      <div class="flex flex-row">
            <h1 class="form-label
            font-serif inline-block mb-2 text-xl text-white-900 text-xl
            text-white-900 dark:text-white">
            <hr class="h-0.5 bg-white-100 border-0 rounded  dark:bg-white-700">Answer :- {{question.ans}}
                  </h1>
            </div>
<div class=" bg-white-900 text-center w-[98%] h-[3px] mb-5"></div>

      {% endfor %}
    
          {% elif test_already_given == 0 %}
          <div class="bg-red-600 rounded-lg py-5 px-6 mb-4 text-base text-xl text-gray-800 mb-3" role="alert">
            You never gave the test!
          </div>
          {% for question in question_info %}
      <h1 
      class="form-label
                  font-serif inline-block mb-2 text-2xl text-purple-600 text-xl
                  text-purple-600 dark:text-purple-600">
            {{ forloop.counter }}) {{question.q_text}}</h1>  
      <div class="flex flex-row">
      <h1 class="form-label
      font-serif inline-block mb-2 text-xl text-white-900 text-xl
      text-white-900 dark:text-white">
      Option A :- {{question.op_a}}
      </h1>
      </div>
      <div class="flex flex-row">
      <h1 class="form-label
      font-serif inline-block mb-2 text-xl text-white-900 text-xl
      text-white-900 dark:text-white">
      Option B :- {{question.op_b}}
      </h1>
      </div>
      <div class="flex flex-row">
            <h1 class="form-label
            font-serif inline-block mb-2 text-xl text-white-900 text-xl
            text-white-900 dark:text-white">
            Option C :- {{question.op_c}}
            </h1>
      </div>
      <div class="flex flex-row">
            <h1 class="form-label
            font-serif inline-block mb-2 text-xl text-white-900 text-xl
            text-white-900 dark:text-white">
            Option D :- {{question.op_d}}
                  </h1>
            </div>
      <div class="flex flex-row">
            <h1 class="form-label
            font-serif inline-block mb-2 text-xl text-white-900 text-xl
            text-white-900 dark:text-white">
            <hr class="h-0.5 bg-white-100 border-0 rounded  dark:bg-white-700">Answer :- {{question.ans}}
                  </h1>
            </div>
<div class=" bg-white-900 text-center w-[98%] h-[3px] mb-5"></div>

      {% endfor %}
          {% endif %}
          {% else %}
    
          {% if question_are_there == 0 %}
          <h1 class="dark:text-white font-medium font-serif leading-tight text-5xl mt-0 mb-2 text-gray-900 flex justify-center py-3">Test is not published yet!</h1>
          {% elif test_already_given == 1 %}
          <br><div class="dark:bg-gray-800 text-purple-600 bg-blue-100 rounded-lg py-5 px-6 mb-4 text-base text-xl text-black mb-3" role="alert">
            You scored <span class="text-2xl"><b>{{mark_info.marks_obt}}</b></span> out of {{mark_info.total_marks}} --> <span class="text-2xl"><b>{{mark_info.perct}}%
              <div class="text-lg flex"><u>
                All questions will be provided after the test ends.</u>
              </div>
          </div>
          
          {% else %}
          <div id="container" class="flex justify-center">
            <video autoplay="true" id="videoElement">
            
            </video>
          </div>
          <script>
            var video = document.querySelector("#videoElement");
          
            if (navigator.mediaDevices.getUserMedia) {
              navigator.mediaDevices.getUserMedia({ video: true })
              .then(function (stream) {
                video.srcObject = stream;
              })
              .catch(function (err0r) {
                console.log("Something went wrong!");
              });
            }
          </script>
          <h1 class="dark:text-white font-medium font-serif leading-tight text-5xl mt-0 mb-2 text-gray-900 flex justify-center py-3">Test</h1>    
        <form method="POST">
            {% csrf_token %}
          {% for question in question_info %}
                <h1 class="text-purple-600 font-medium font-serif leading-tight text-2xl mt-0 mb-2 text-gray-900 flex">
                      {{ forloop.counter }}) {{question.q_text}}</h1>  
                <div class="flex flex-row">
                <input type="radio" id="A" name="ans_{{ forloop.counter }}" value="A" class="ml-10">
                <h1 for="A" class="dark:text-white font-medium font-serif leading-tight text-xl mt-0 ml-2 mb-2 text-gray-900">
                A :- {{question.op_a}}
                </h1>
                </div>
                <div class="flex flex-row">
                <input type="radio" id="B" name="ans_{{ forloop.counter }}" value="B" class="ml-10">
                <h1 class="dark:text-white font-medium font-serif leading-tight text-xl mt-0 ml-2 mb-2 text-gray-900">
                B :- {{question.op_b}}
                </h1>
                </div>
                <div class="flex flex-row">
                <input type="radio" id="C" name="ans_{{ forloop.counter }}" value="C" class="ml-10">
                      <h1 class="dark:text-white font-medium font-serif leading-tight text-xl ml-2 mt-0 mb-2">
                      C :- {{question.op_c}}
                      </h1>
                </div>
                <div class="flex flex-row">
                <input type="radio" id="D" name="ans_{{ forloop.counter }}" value="D" class="ml-10">
                      <h1 class="dark:text-white font-medium font-serif leading-tight text-xl mt-0 ml-2 mb-2 text-gray-900 ">
                      D :- {{question.op_d}}
                            </h1>
                <input type="hidden" value = "{{question.q_text}}" name="que_{{ forloop.counter }}" />
              </div>
          <div class=" bg-gray-900 text-center w-[98%] h-[3px] mb-5"></div>
          
                {% endfor %}
                <div class="flex justify-center py-10">
                    <button type="reset" 
                    class="w-full px-4 py-2 text-2xl 
                    font-medium text-white transition-colors duration-150
                    bg-purple-600 border border-transparent rounded-lg
                    active:bg-purple-600 hover:bg-purple-800 focus:outline-none
                    focus:shadow-outline-purple text-center">Clear</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" 
                    class="w-full px-4 py-2 text-2xl 
                    font-medium text-white transition-colors duration-150
                    bg-purple-600 border border-transparent rounded-lg
                    active:bg-purple-600 hover:bg-purple-800 focus:outline-none
                    focus:shadow-outline-purple text-center">Submit</button>
                </div>
        </form>
          {% endif %}
        {% endif %}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>