<div class="min-w-0 p-4 bg-gray-200 rounded-lg shadow-xs
    dark:bg-gray-800">
    <h2 class="mb-6 text-2xl font-semibold text-purple-600
        dark:text-purple-600">
        Results
    </h2>
    <div class="w-full rounded-lg overflow-hidden shadow-xs">
        <div class="w-full rounded-lg overflow-x-auto">
            <table class="w-full rounded-lg whitespace-no-wrap
                dark:bg-gray-700">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left
                        text-gray-500 uppercase border-b dark:border-gray-700
                        bg-gray-50 dark:text-gray-400 dark:bg-gray-700">
                        <th class="px-4 py-3">Test Name</th>
                        <th class="px-4 py-3">batch</th>
                        <th class="px-4 py-3">Marks Scored</th>
                        <th class="px-4 py-3">Total Marks</th>
                        <th class="px-4 py-3">Perctange</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200 divide-y dark:divide-gray-700
                    dark:bg-gray-700">

                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3">
                            <div>
                                <p class="font-semibold"></p>
                            </div>

                        </td>
                        <td class="px-4 py-3">
                            <div>
                                <p class="font-semibold"></p>
                            </div>
                        </td>
                        <td class="px-4 py-3">
                            <div>
                                <p class="font-semibold"></p>
                            </div>

                        </td>
                        <td class="px-4 py-3">
                            <div>
                                <p class="font-semibold"></p>
                            </div>
                        </td>
                        <td class="px-4 py-3">
                            <div>
                                <p class="font-semibold">%</p>
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>